//COLORS
$blackColor: rgb(24,24,24);
$whiteColor: rgb(255, 255, 255);
$redColor: rgb(175, 2, 2);

//FONTS
$titleFont: Arial, Helvetica, sans-serif;
$bodyFont: "Times New Roman", Times, serif;

//BUTTONS

@mixin buttonStyle($color, $fontSize) {
    width: 200px;
    height: 40px;
    background-color: $color;
    border: none;
    border-radius: 8px;
    color: $whiteColor;
    font-size: $fontSize;
    cursor: pointer;
}